

JWT_SECRET = Your Secret Key
PORT_NUMBER = PORT NO
MONGO_URI =  Your database URL
CLOUDINARY_NAME = Your cloudinary name
CLOUDINARY_KEY =  Your cloudinary key
CLOUDINARY_SECRET =  Your cloudinary secret key 
